.tweet-textarea-general-style {
    padding: 1em;
    border: solid 1px #bbb;
}

div p {
    margin: 0;
    padding: 0;
}

.tweet-textarea-entity-highlighting {
    color: cadetblue;
    font-weight: bold;
}
